[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
